html{
	display: grid;
	margin: auto;
	background: white;
	color: aliceblue;
}
header{
	display: grid;

	margin: auto;
	margin-top: 2rem;

	text-align: center;
	font-family: sans-serif;
}
h1{
	margin: auto;

	padding-left: 3%;
	padding-right: 3%;
	border-bottom: thick solid aliceblue;
}
a{
	text-decoration: none;
	font-size: 30px;
}
hr{
	margin: auto;
	width: rem;
	max-width: 50%;
	min-width:1%;
}
nav{
	display: flex;
	margin: auto;
	align-self: auto;
	row-gap: 50rem;
	max-width: 100%;
	min-width: 50%;


	font-size: 30px;
}
.elemento6{
	display: block;

	margin: auto;
	
	text-align: center;
	
}
.elemento6 p{


}

.elemento1{
	display: flex;

	margin: auto;

	align-self: center;

	text-align: center;
	font-size: 30px;
}

.elemento1 p{

	
}
.elemento2{
	display: flex;

	margin: auto;
	padding: 1rem;

	align-self: center;

	text-align: center;
	font-size: 30px;
}
.elemento2 p{

}
.elemento3{
	display: grid;

	margin: auto;
	padding: 1rem;

	align-self: center;
	
	text-align: center;
	font-size: 30px;
}
.elemento3 p{
	display: grid;
	margin: auto;
	border: thin solid cyan;
	width: auto;
	height: auto;
	padding: 1rem;

}
.elemento4{
	display: grid;

	margin: auto;

	text-align: center;
	font-size: 30px;
}
.elemento4 p{

}
.elemento5{
	display: grid;

	margin: auto;

	text-align: center;
	font-size: 30px;
}
.elemento5 p{

}