html{
	display: grid;
	margin: auto;
	background-color: black;
	color: aliceblue;
}
header{
	display: flex;

	margin: auto;
	margin-bottom: 25rem;

	

	text-align: center;
	font-family: sans-serif;
}
h1{
	margin: auto;

	padding-left: 3%;
	padding-right: 3%;
	border-bottom: thick solid aliceblue;
}
a{
	text-decoration: none;
	font-size: 30px;
}
hr{
	margin: auto;
	width: 25rem;
	max-width: 50%;
	min-width:1%;
}
nav{
	display: grid;
	margin: auto;
	justify-content: center;
	gap: 5rem;


	
}
.elemento0{
	display: block;

	margin: auto;
	
	padding: 1rem;

	
	max-width: 300px;
	min-width: none;

	

	border: 10px solid black;
	border-radius: 2rem;

	
	text-align: center;
	font-size: 30px;
}
.elemento0 p{
	display: block;
	margin: auto;
	
	width: auto;
	height: auto;
	padding: 1rem;

}

.elemento1{
	display: grid;

	margin: auto;
	
	padding: 1rem;

	width: 300px;

	

	border: 10px solid black;
	border-radius: 2rem;

	
	text-align: center;
	font-size: 30px;
}

.elemento1 p{
	display: grid;
	margin: auto;
	
	width: auto;
	height: auto;
	padding: 1rem;

}
.elemento2{
	display: grid;

	margin: auto;
	padding: 1rem;

	width: 300px;

	

	border: 10px solid black;
	border-radius: 2rem;

	
	text-align: center;
	font-size: 30px;
}
.elemento2 p{
	display: grid;
	margin: auto;
	border: thin solid cyan;
	width: auto;
	height: auto;
	padding: 1rem;

}
.elemento3{
	display: grid;

	margin: auto;
	padding: 1rem;

	width: 300px;

	

	border: 10px solid black;
	border-radius: 2rem;

	
	text-align: center;
	font-size: 30px;
}
.elemento3 p{
	display: grid;
	margin: auto;
	border: thin solid cyan;
	width: auto;
	height: auto;
	padding: 1rem;

}
.elemento4{
	display: grid;

	margin: auto;
	
	padding: 1rem;

	width: 300px;

	

	border: 10px solid black;
	border-radius: 2rem;

	
	text-align: center;
	font-size: 30px;
}
.elemento4 p{
	display: grid;
	margin: auto;
	border: thin solid cyan;
	width: auto;
	height: auto;
	padding: 1rem;

}
.elemento5{
	display: grid;

	margin: auto;
	padding: 1rem;

	width: 300px;


	border: 10px solid black;
	border-radius: 2rem;

	text-align: center;
	font-size: 30px;
}
.elemento5 p{
	display: grid;
	margin: auto;
	border: thin solid cyan;
	width: auto;
	height: auto;
	padding: 1rem;

}