html{
	display: grid;
	margin: auto;
	background: black;
	color: aliceblue;
	font-family: monospace;
}
header{
	display: grid;

	margin: auto;
	margin-top: 2rem;

	text-align: center;
	font-family: monospace;
}
h1{
	margin: auto;

	padding-left: 3%;
	padding-right: 3%;
	
}
h4{
	color: black;
	font-size: 1.2rem;

	border: thin solid cyan;
	border-bottom: none;
	padding: 1rem;
	margin: 1rem 0px 0px 0px;
	text-align: center;
}

hr{
	margin: auto;
	width: rem;
	max-width: 50%;
	min-width:1%;
}
a{
	color: white;
	text-decoration: none;

	border: thin solid black;
}
 ul{
 	border-top: none;
 	border: thin solid cyan;
 	padding-bottom: 10rem;
 	margin: 0rem 0px 0px 0px;


}




nav{
	display: grid;
	margin: auto;


	justify-content: center;

	gap: 10rem;

	max-width: 100%;
	min-width: 50%;

	background: ;


	font-size: 30px;

	width: 60%;
}



.elemento1{
	display: grid;

	margin: 5rem 10px 0px 10px;
	padding: 10%;

	text-align: center;
	font-size: 30px;



	border: thin solid white;
	border-radius: 10%;
}

.elemento2{
	display: grid;

	margin: 5rem 10px 0px 10px;
	padding: 10%;

	text-align: center;
	font-size: 30px;



	border: thin solid white;
	border-radius: 10%;
}

.elemento3{
	display: grid;

	margin: 5rem 10px 0px 10px;
	padding: 10%;

	text-align: center;
	font-size: 30px;

	border: thin solid white;
	border-radius: 10%;
}

.elemento4{
	display: grid;

	margin: 5rem 10px 0px 10px;
	padding: 10%;

	text-align: center;
	font-size: 30px;



	border: thin solid white;
	border-radius: 10%;
}

.elemento5{
	display: grid;

	margin: 5rem 10px 0px 10px;
	padding: 10%;

	text-align: center;
	font-size: 30px;



	border: thin solid white;
	border-radius: 10%;
}

.elemento6{
	display: grid;

	margin: 5rem 10px 0px 10px;
	padding: 10%;

	text-align: center;
	font-size: 30px;



	border: thin solid white;
	border-radius: 10%;
	
}
