html{
    font-family: sans-serif;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
}
header{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 10rem;
}
.indice1{
    text-align:left;

}
.indice{
    margin: auto;
    text-align: left;
    width: 20rem;
}

nav{
    color: black;
    text-align: center;
    list-style-type: none;
}

.elemento0{
    color: rgb(0, 0, 0);
    margin-left: -0.5rem;
    font-size: 30px;
}
.elemento{
    color: black;
    padding-left: 1rem;
    font-size: 25px;
}
.elemento1{
    color: black;
    padding-left: 3rem;
    font-size: 20px;
}
article{
    margin: auto;
    text-align: center;
    width: auto;
}
p{
    text-align: justify;
    margin: auto;
    width: auto;
    max-width: 70%;
}
hr{
    color: brown;
    width: 500px;
}
.lista{
    text-align: justify;
    margin: auto;
    width: auto;
    max-width: 40%;
}