html{
    font-family: sans-serif;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0);
    height: auto;
}
bodfy{
    justify-content: center;
}
header{
    display:grid;
    grid-template-areas: "header header header";
    text-align: center;
    margin-top: 20%;
    margin-bottom: 25%;

}
.cabeza{
    display: block;
    margin-left: auto;
    text-align: center;
    border-bottom: thin solid;
    padding-right: 10%;
}





.caja-indice{
    display: grid;
    grid-template-areas: "caja-1 caja-2";
    float: left;
    list-style-type: none;
    font-family: sans-serif;
    width: auto;
    height: auto;
    margin: auto;
    justify-content: revert;
    grid-column-gap: 30%;
    margin-left: 9%;
}
.caja-1{
    display: block;
    float: left;
    margin-left: 40%;
    width: 500px;
    min-width: 60%;
    justify-content: revert;
}
.caja-2{
    list-style-type: none;
    display: block;
    float: right;
    width: 500px;
    min-width:10%;

}

a{
    text-decoration: none;
}
.elemento0{
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.elemento{
    color: black;
    padding-left: 1rem;
    font-size: 25px;
}
.elemento1{
    color: black;
    padding-left: 3rem;
    font-size: 20px;
}
article{
    margin: auto;
    text-align: left;
    margin: auto;
    width: 50rem;
    height: auto;
    min-width: 20%;
}
p{
    text-align: justify;
    margin: auto;
    width: auto;
    min-width: 20%;



}
hr{
    color: brown;
    max-width: 70%;
    min-width: min-content;
}
.lista{
    text-align: center;
    margin: auto;
    width: auto;
    max-width: 40%;
}
h3, h2, h1, figure{
    text-align: center;
}
hr{
    color: brown;
    border-width: 10px;
}
img{
    margin-left: 5%;
    width: 25rem;
}
.botom-de-subir{
    position: fixed;
    top: 90%;
    left: 90%;
}
.pie{
    font-size: 10px;
    position: static;
    top: 90%;
    left: 1rem;
}
.ejemplos-largos{
    font-size: 15px;
    position: revert;
    left: 20%;
    margin: auto;
    width: auto;
    max-width: 70%;

}
ul{
    margin-left: 20%;
    text-align: justify;
    max-width: 60rem;
    min-width: initial;

}
















































