html{
    font-family: sans-serif;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0);
    height: auto;
    width: auto;
}
header{
    grid-auto-flow: initial;
    margin: auto;
    text-align: center;
    font-size: 24px;
}
.cabeza{
    border-bottom: thin solid;
    margin-bottom: 50px;
}
.caja-indice{
    display: grid;
    
    list-style-type: none;
    width: auto;
    height: auto;
    
}

.caja-1{
    display: grid;
    margin: auto;
    grid-row-start: 1;
    width: auto;
    min-width: 40%;
    background-color: d4d4d4;
}
.caja-2{
    
    display: grid;
    margin: auto;
    width: auto;
    min-width:40%;
    list-style-type: none;
    background-color: d4d4d4;
    grid-row-end: 2;
    position: relative;
    top: auto;
}

a{
    text-decoration: none;
}
.elemento0{
    color: rgb(0, 0, 0);
    font-size: 24px;
}
.elemento{
    color: black;
    padding-left: 2rem;
    font-size: 18px;
}
.elemento1{
    color: black;
    padding-left: 5rem;
    font-size: 12px;
}


article{
    display: block;
    margin: auto;
    text-align: center;
    width: auto;
    height: auto;
    max-width: 80rem;
    min-width: initial;
}
p, .parrafo{
    display: block;
    margin: auto;
    text-align: justify;
    width: 70%;
    max-width: 80rem;
    min-width: initial;
    
}
hr{
    width: 0px;
}
}
.lista{
    display: block;
    margin: auto;
    width: auto;
}
h2{
    text-align: center;
}
pre,code{
    width: auto;
    display: block;
    margin: auto;
    text-align: left;
    font-size: 10px;
}
figure, .figura{
    width: auto;
}
img{
    display: block;
    margin: auto;
    width: auto;
}
.botom-de-subir{
    display: grid;
    margin: auto;
    top: 90%;
    left: 90%;
}
.pie{
    font-size: 10px;
    position: static;
    bottom: 50%;
    left: 1rem;
}
ul{
    display: block;
    margin: auto;
    text-align: justify;
    max-width: 40rem;
    min-width: initial;
}
















































